.img {
  background:
    linear-gradient(var(--img-bg, #18181b), var(--img-bg, #18181b)) padding-box,
    linear-gradient(to bottom, rgb(109, 0, 139), rgb(204, 50, 112)) border-box;
  border-radius: 50em;
  border: 4px solid;
}

.title {
  font-size: 4rem;
  background: -webkit-linear-gradient(rgb(109, 0, 139), rgb(204, 50, 112));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

/* Light mode colors */
:global(.light) .img {
  --img-bg: #f4f4f5;
}

/* Dark mode colors */
:global(.dark) .img {
  --img-bg: #18181b;
}

