.img {
  background:
    linear-gradient(#18181b, #18181b) padding-box,
    linear-gradient(to bottom, rgb(109, 0, 139), rgb(204, 50, 112)) border-box;
  border-radius: 50em;
  border: 4px solid;
}

.title {
  font-size: 3rem;
  font-weight: 700;
}
