.title {
  font-size: 4rem;
  background: -webkit-linear-gradient(rgb(109, 0, 139), rgb(204, 50, 112));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  margin-bottom: 50px;
}

.img img {
  background:
    linear-gradient(var(--img-bg, #18181b), var(--img-bg, #18181b)) padding-box,
    linear-gradient(to bottom, rgb(109, 0, 139), rgb(204, 50, 112)) border-box;
  border-radius: 50em;
  border: 4px solid;
}

.description {
  padding: 50px;
  border: 1px solid var(--border-color, white);
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .about {
    display: flex;
    flex-direction: column;
  }

  .img img {
    margin: 20px;
  }

  .description {
    width: 90%;
    margin: 20px 0px;
  }
}

/* Light mode colors */
:global(.light) .img img {
  --img-bg: #f4f4f5;
}

:global(.light) .description {
  --border-color: #999;
}

/* Dark mode colors */
:global(.dark) .img img {
  --img-bg: #18181b;
}

:global(.dark) .description {
  --border-color: white;
}
